<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 写Sql语句   -->
<mapper namespace="cn.overseachem.mybatis.mapper.PDPlatePurchaseOrderSpecMapper">

    <select id="findSpecsByOrderNumber" resultType="PDPlatePurchaseOrderSpec">
        SELECT * FROM PD_Plate_purchaseOrder_spec WHERE fk_purchaseOrder_number = #{VALUE};
    </select>

    <insert id="insertSpec" parameterType="PDPlatePurchaseOrderSpec">
        insert into PD_Plate_purchaseOrder_spec
        values (#{fk_purchaseOrder_number},#{fk_pattern_id},#{fk_color_id},#{size},#{quantity},#{remark});
	</insert>

    <select id="countSpecsInMonth" resultType="Integer">
        SELECT COUNT(*) FROM PD_Plate_purchaseOrder_spec JOIN PD_Plate_purchaseOrder WHERE PD_Plate_purchaseOrder.receive_time BETWEEN #{monthBegin} AND #{monthEnd};
    </select>

    <select id="groupSpecsByColorId" resultType="PDPlatePurchaseOrderSpec">
        SELECT * FROM PD_Plate_purchaseOrder_spec GROUP BY fk_color_id HAVING fk_purchaseOrder_number = #{VALUE};
    </select>

    <select id="findSpecsByOrderNumberAndColorId" resultType="PDPlatePurchaseOrderSpec">
        SELECT * FROM PD_Plate_purchaseOrder_spec WHERE fk_purchaseOrder_number = #{orderNumber} AND fk_color_id = #{colorId};
    </select>

</mapper>